


.fa{
    padding: 10px;
    font-size: 40px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 30px;
}

.fa:hover{
    opacity:0.8;
}

.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: leniar-gradient(45deg, #f09433 0%, #e66883 25%, #dc2743 75%, #bc1888 100%);
    color: white;
  }
.fa-odnoklassniki{
    background: darkorange;
    color:white;
}
.fa-vk{
    background: royalblue;
    color:white;
}
.fa-github{
    background: black;
    color: white;
}
  

#contacts{
    background: gray;
    padding: 20px;
    opacity: 80%;
    position: relative;
    top: 50px;
    margin-bottom: 20px;
    /* margin-right: 10px;
    margin-left: 10px; */
}
#about{
    background: gray;
    padding: 20px;
    opacity: 90%;
    position: relative;
    top: 80px;
}
.te{
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
}
.pages-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.progress-bar{
    width: 50%
}

body{
    /* color: white; */
    background: url("hero-3.jpg") no-repeat center fixed;
    /* max-height: 100%; */
    background-size: cover;
    /* filter: grayscale(100%); */
}
.heade{
    text-align: center;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}